body{
	background-color: #DA810F;
	font-family:Monaco,Courier Space, Lucida Console, monospace;
	color: #0089B5;
	border:1px solid black;
	float:left;
	padding:10px;
}


h1{
	background-color: #E79600;
	color: #009CCE;
	text-transform: capitalize;
	font-family:Arial, Verdana, Helvetica, "Comic Sans", sans-serif;
	text-align:center;
	margin-left:700px;
	margin-right:700px;
}

h2{
	color:#000000;
	font-weight:1000;
}

li{
	color:#000000;
	font-weight:600;
	font-family:"Times New Roman", serif;
}

p{
	color:#000000;
	font-weight:600;
	font-family:"Times New Roman", serif;
	font-size:20px;
}

.tagline{
	font-style:italic;
}

.luffy1{
	width:498px;
	height:278px;
	border:1px solid black;
	border-radius:5px;
	padding:10px;
	float:left;
}

.luffy2{
	border-radius:5px;
	float:right;
	border:1px solid black;
	border-radius:5px;
	padding:10px;
}

.div1{
	border:1px solid black;
	border-radius:5px;
	float:left;
}

.div2{
	border:1px solid black;
	border-radius:5px;
	float:left;
}
.div3{
	border:1px solid black;
	border-radius:5px;
	float:left;
}