body{
	background-color: #0e5135;
	font-family:Monaco,Courier Space, Lucida Console, monospace;
	color: #d4ce46;
}


h1{
	background-color:#0d9263;
	color: #d4ce46;
	text-transform: capitalize;
	font-family:Arial, Verdana, Helvetica, "Comic Sans", sans-serif;
	text-align:center;
	margin-left:100px;
	margin-right:100px;

}

h2{
	color:#4aba91;
	background-color:#0d9263;
	font-weight:1000px;
}
h3{
	background-color:#0d9263;
	margin-left:auto;
	margin-right:1500px;
}

li{
	color:#4aba91;
	font-weight:600;
	font-family:"Times New Roman", serif;
}

p{
	color:#4aba91;
	font-weight:600;
	font-family:"Times New Roman", serif;
	font-size:20px;
}